*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  color-scheme: dark;
}
body,
h1,
h2,
p,
figure,
dl,
dd {
  margin: 0;
}
button,
input,
select,
textarea {
  font: inherit;
}
button {
  cursor: pointer;
}
img,
canvas {
  display: block;
  max-width: 100%;
}
a {
  color: inherit;
}
body {
  min-width: 320px;
  min-height: 100vh;
}
button:disabled {
  cursor: not-allowed;
}
